In [1]:
import pandas as pd
bank = pd.read_excel("bank_dataset.xlsx")

# check the first few rows
bank.head()

,RowNumber,CustomerId,Surname,Geography,Gender,Age,Profession,Tenure,Balance (last week),Balance (today),...,HasCrCard,Loan amount this month,Loan age,Loan type,Due loan payment (this month),No of visits to bank this month,Enrolled to Mobile banking today,Deposits this month,EstimatedSalary,Salary account
0,2093,15757408,Lo,South West,Male,38,Skilled,3,275376.202392,250898.09,...,0,14335,1,Business,1148.751531,0,No,0.000000,81054.00,0
1,3281,15715622,To Rot,North Central,Female,57,Non-Skilled,3,168705.016176,238387.56,...,0,15758,2,Auto,0.000000,0,Yes,0.000000,147964.99,1
2,8734,15714241,Haddon,South West,Male,42,Skilled,9,115230.012462,222267.63,...,0,0,0,No Loan,0.000000,2,Yes,18135.954277,101108.85,1
3,3589,15571958,McIntosh,South West,Male,40,Non-Skilled,3,184308.943539,221532.80,...,1,0,0,No Loan,0.000000,2,Yes,1015.609661,171867.08,1
4,6718,15586674,Shaw,South West,Female,58,Skilled,5,141788.455066,216109.88,...,0,10145,2,Auto,0.000000,2,Yes,16181.368607,74176.71,0

### Total Number of Customers with account balance greater than zero

In [50]:
# subset the data for customers with account balance greater than zero
cust_greater = bank.loc[bank['Balance (today)'] > 0]
#cust_greater.tail()

# Number of customers with account balance greater than zero
n_B = cust_greater.shape[0]
print("Number of Customers with balance greater than zero: {}".format(n_B))

Number of Customers with balance greater than zero: 8663

### Confidence level for Customers with balance greater than zero

In [41]:
# Ratio of the number of customers with balance greater than zero to the total number of customers
C = (n_B / bank.shape[0]) 
print("Confidence level for Customers with balance greater than zero: {}".format(C))

Confidence level for Customers with balance greater than zero: 0.8663

### Likelihood of Customers with balance greater than zero

In [43]:
# subset the data with account balance greater than 0 for both male and female
male_B = cust_greater.loc[cust_greater['Gender'] == 'Male']
female_B = cust_greater.loc[cust_greater['Gender'] == 'Female']

# Ratio of the number of male customers to the number of customers with balance greater than zero
L_male = (male_B.shape[0] / n_B) 

#  Ratio of the number of female customers to the number of customers with balance greater than zero

L_female = (female_B.shape[0] / n_B)

In [44]:
print("Likelihood of Male Customers with balance greater than zero: {:.4f}".format(L_male))
print("Likelihood of Male Customers with balance greater than zero: {:.4f}".format(L_female))

Likelihood of Male Customers with balance greater than zero: 0.5480
Likelihood of Male Customers with balance greater than zero: 0.4520

### Average current balance of all male and female customers with balance greater than zero

In [46]:
# average current balance of all male and female customers in the bank
V_male_today = male_B['Balance (today)'].mean()
V_female_today = female_B['Balance (today)'].mean()

In [47]:
print("Average current balance of all male customers: {:.4f}".format(V_male_today)) 
print("Average current balance of all female customers: {:.4f}".format(V_female_today))

Average current balance of all male customers: 88800.6490
Average current balance of all female customers: 87852.6141

### Average balance of all customers with balance greater than zero

In [8]:
V_E_today = cust_greater['Balance (today)'].mean()
print("Average balance of all customers with balance greater than zero: {:.4f}".format(V_E_today))

Average balance of all customers with balance greater than zero: 88372.1018

### The average balances of customers with balance greater than zero from a previous time period, e.g. last week

In [48]:
# subset the original data for customers with balance greater than zero for last week
cust_LWeek = bank[bank['Balance (last week)'] > 0]

# subset the obtained data for both gender
male_LWeek = cust_LWeek[cust_LWeek['Gender'] == 'Male']
female_LWeek = cust_LWeek[cust_LWeek['Gender'] == 'Female']

# Average balances of customers from previous time period
V_male_lastWeek = male_LWeek['Balance (last week)'].mean()
V_female_lastWeek = female_LWeek['Balance (last week)'].mean()
V_E_lastWeek = cust_LWeek['Balance (last week)'].mean()

In [49]:
print("Average balance of male customers with balance greater than zero last week: {:.4f}".format(V_male_lastWeek)) 
print("Average balance of female customers with balance greater than zero last week: {:.4f}".format(V_female_lastWeek)) 
print("Average balance of all customers with balance greater than zero last week: {:.4f}".format(V_E_lastWeek))

Average balance of male customers with balance greater than zero last week: 89390.2430
Average balance of female customers with balance greater than zero last week: 86350.5941
Average balance of all customers with balance greater than zero last week: 88006.6883

### The impact of each customer segment on the overall customers affected by the event

In [11]:
I_male = ((V_male_today - V_E_today) / V_E_today) * 100

I_female = ((V_female_today - V_E_today) / V_E_today) * 100

In [12]:
print("Impact of male customers on all customers with balance greater than zero: {:.4f}".format(I_male))
print("Impact of female customers on all customers with balance greater than zero: {:.4f}".format(I_female))

Impact of male customers on all customers with balance greater than zero: 0.4849
Impact of female customers on all customers with balance greater than zero: -0.5878

### The sustainability (S) of each customer segment

In [13]:
S_male = ((V_male_today - V_male_lastWeek) / V_male_lastWeek) * 100
S_female = ((V_female_today - V_female_lastWeek) / V_female_lastWeek) * 100

In [14]:
print("Sustainability of male customers: {:.4f}".format(S_male)) 
print("Sustainability of female customers: {:.4f}".format(S_female))

Sustainability of male customers: -0.6596
Sustainability of female customers: 1.7394

### Determine the Pulse of each segment

In [15]:
P_male = (L_male * C) * (I_male * S_male)
P_female = (L_female * C) * (I_female * S_female)

In [16]:
print("Pulse of male customers: {:.4f}".format(P_male)) 
print("Pulse of female customers: {:.4f}".format(P_female))

Pulse of male customers: -0.1518
Pulse of female customers: -0.4004

### Determine the overall Pulse of the event

In [17]:
P_Gender = (L_male * P_male) + (L_female * P_female)

print("Overall Pulse of Gender: {:.4f}".format(P_Gender))

Overall Pulse of Gender: -0.2642